<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Acme\Intro\Api\IndexBuilderInterface" type="Acme\Intro\Model\Indexer\IndexBuilder"/>
    <preference for="Acme\Intro\Api\RuleCalculatorInterface" type="Acme\Intro\Model\RuleCalculator"/>
</config>
